$LightGreyscaleStroke: #CDD2DD;
$LightAssentsAccent1Primary: #08D899;
$LightGreyscaleBgLight: #F0F5F5;
$LightGreyscaleTextSecondary: #676767;
$LightGreyscaleTextTertiary: #959596;
$LightGreyscaleIcons: #ABB6B7; 
$LightAssentsAccent1Quaternary: #B2F1DE;
$LightSystemErrorSuccessful:#3AC922;
$LightGreyscaleBgLight:#F0F5F5;